body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('clcbck.jpg'); /* Replace with the actual path to your image file */
    background-size: cover; /* This will make the image cover the entire background */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
}


#title-box {
    background-color: hsl(0, 0%, 20%);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

#calculator-title, #instructions {
    margin: 15px; 
    text-align: center; /* Align text to the left */
}

#calculator-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 400px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 15px;
    font-size: 2rem; 
    text-align: left; /* Align text to the right for better display */
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    gap: 10px; 
}

button {
    width: 50px; 
    height: 50px; 
    border-radius: 25px; 
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 1.5rem; 
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}

#history {
    margin-top: 10px;
    font-size: 1rem;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
}
#footer-box {
    background-color: hsl(0, 0%, 20%);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
}

#instructions {
    font-size: 1rem;
    margin: 0;
}